*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background: url("images/fongazon.jpg") no-repeat;
    background-size: cover;
    position: relative;
    font-size: 15px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-left: 0;
    color: black;
}

li:hover {
    color: darkgreen;
    font-weight: bold;
}

H1 {
    color: green;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    letter-spacing: 5px;
    font-style: italic;
}
H2{
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 15px;
}

span {
    font-weight: bold;

}

button:hover {
    box-shadow: 10px 10px 10px grey;
}

label{
    margin-right: 20PX;
}

button {
    font-family: 'Lora', serif;
    display: inline-block;
    background-color: rgba(143, 188, 143, 0.61);
    color: #000000;
    padding: 9px 13px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 15px;
    border-radius: 5px;
    border: darkgreen solid 1px;
}

.header {
    display: block;
    height: 100px;
    width: 1200px;
}

.container {
    width: 1100px;
    margin: 0 auto;

}

.items {
    display: flex;
    background-color: rgba(255, 255, 255, 0.84);
    margin: 40px 0;
    height: 400px;
}


.item-menu {
    width: 15%;
    margin: 10px;

}

.item-product {
    width: 25%;
    margin: 10px;

}

.item-product-info {
    width: 60%;
    margin: 10px;
}
.description{
    height: 150px;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo-img {
    position: relative;
    height: 125px;
    top: 5px;
    left: 35px;
}

.item-product-img {
    width: 200px;
    padding: 50px 20px 0 10px;
}

.order-img {
    width: 210px;
    padding: 0;
}

.product-description {
    display: flex;
    padding: 5px;
}

.description{
    height: 300px
}

.description p {
    font-size: 14px;
}

.buy-button,
.order-button,
.button-order-confirmation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-button-data{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orders {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.84);
}
.orders-description{
    display: none;
}

.name,
.select-city,
.comments,
.pay,
.orders,
.quantity,
.postal {
    padding: 15px;
}

.name{
    margin-right: 15px;
}

.about-order {
    width: 50%;
    margin: 0 auto;
}

.about-client {
    width: 50%;
    margin: 0 auto;
}

.order-description {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.order-details {
    padding: 0 20px 20px;
}

.orders-name {
    margin-bottom: 5px;
}






