*,
*::after,
*::before{
    box-sizing: border-box;
}
body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    background: url("images/fongazon.jpg") no-repeat;
    background-size: cover;
    position: relative;
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    padding-left: 0;
}


H1 {
    color: green;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: block;
    height: 100px;
    width: 1200px;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.items {
    display: flex;
    background-color: rgba(255, 255, 255, 0.84);

}

.item-menu {
    width: 15%;

}

.item-product {
    width: 25%;


}

.item-product-info {
    width: 60%;

}
.logo{
    height: 100px;
    width: 100px;
}
.logo-img{
    position: relative;
    height: 100px;
    padding: 0;
    left: -138px;
}
